<h1>EVERY DAY CLOSINGS</h1>
<%= link_to 'New Total closing', new_total_closing_path, :class => "btn btn-danger" %>

<table class="table">
  
    <tr>
      <th><span class="label label-success">Total sale</span></th>
      <th><span class="label label-success">Total pin</span></th>
      <th><span class="label label-success">Total creditcard</span></th>
      <th><span class="label label-success">Tmz phone</span></th>
      <th><span class="label label-success">Tmz total</span></th>
      <th><span class="label label-success">Sunny phone</span></th>
      <th><span class="label label-success">Sunny total</span></th>
      <th><span class="label label-success">Raj</span></th>
      <th><span class="label label-success">Bill paid</span></th>
      <th><span class="label label-success">Bill received</span></th>
      <th><span class="label label-success">Other paid</span></th>
      <th><span class="label label-success">Other amount</span></th>
      <th><span class="label label-success">Cash in hand</span></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @total_closings.each do |total_closing| %>
      <tr>
        <td><%= total_closing.Total_sale %></td>
        <td><%= total_closing.Total_pin %></td>
        <td><%= total_closing.Total_creditcard %></td>
        <td><%= total_closing.TMZ_Phone %></td>
        <td><%= total_closing.TMZ_Total %></td>
        <td><%= total_closing.Sunny_Phone %></td>
        <td><%= total_closing.Sunny_Total %></td>
        <td><%= total_closing.Raj %></td>
        <td><%= total_closing.Bill_paid %></td>
        <td><%= total_closing.Bill_Received %></td>
        <td><%= total_closing.Other_paid %></td>
        <td><%= total_closing.Other_amount %></td>
        <td><%= total_closing.Cash_In_Hand %></td>

        <td><%= link_to 'Show', total_closing %></td>
        <td><%= link_to 'Edit', edit_total_closing_path(total_closing) %></td>
        <td><%= link_to 'Destroy', total_closing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


