<div class="container">
  <div class="row" id="login-container">
    <div class="span8 offset2">
<p id="notice"><%= notice %></p>

<p>
  <strong>Total sale:</strong>
  <%= @total_closing.Total_sale %>
</p>

<p>
  <strong>Total pin:</strong>
  <%= @total_closing.Total_pin %>
</p>

<p>
  <strong>Total creditcard:</strong>
  <%= @total_closing.Total_creditcard %>
</p>

<p>
  <strong>Tmz phone:</strong>
  <%= @total_closing.TMZ_Phone %>
</p>

<p>
  <strong>Tmz total:</strong>
  <%= @total_closing.TMZ_Total %>
</p>

<p>
  <strong>Sunny phone:</strong>
  <%= @total_closing.Sunny_Phone %>
</p>

<p>
  <strong>Sunny total:</strong>
  <%= @total_closing.Sunny_Total %>
</p>

<p>
  <strong>Raj:</strong>
  <%= @total_closing.Raj %>
</p>

<p>
  <strong>Bill paid:</strong>
  <%= @total_closing.Bill_paid %>
</p>

<p>
  <strong>Bill received:</strong>
  <%= @total_closing.Bill_Received %>
</p>

<p>
  <strong>Other paid:</strong>
  <%= @total_closing.Other_paid %>
</p>

<p>
  <strong>Other amount:</strong>
  <%= @total_closing.Other_amount %>
</p>

<p>
  <strong>Cash in hand:</strong>
  <%= @total_closing.Cash_In_Hand %>
</p>

<p>
  <span class="label label-important"><strong>TOTAL</strong>
  <%= @total_closing.Total_sale + @total_closing.Total_pin - @total_closing.Total_creditcard - @total_closing.TMZ_Total - @total_closing.Sunny_Total - @total_closing.Raj - @total_closing.Bill_paid + @total_closing.Bill_Received - @total_closing.Other_amount  %>


  </span>
</p>



<%= link_to 'Edit', edit_total_closing_path(@total_closing) %> |
<%= link_to 'Back', total_closings_path %>
</div>
</div>
</div>